.button{
    -fx-background-color: #1f2c36;
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-cursor: hand;
}
.button_link{
    -fx-background-color: transparent;
    -fx-font-weight: 700;
    -fx-cursor: hand;
}
.text-field{
    -fx-prompt-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color:#1f2c36;
    -fx-border-radius: 10px;
    -fx-padding: 0px 0px 0px 10px;
    -fx-font-weight: 800;
    -fx-text-fill: white;
}

.v-box{
    -fx-background-color: #1f2c36;
    -fx-pref-width: 55px;
}
.v-box-open{
    -fx-pref-width: 160px;
    -fx-background-color: rgba(31, 44, 54, 0.97);
}

.h-box_close .label{
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: 700;
}
.h-box_close .label:hover {
    -fx-cursor: hand;
    -fx-border-width: 2px;
    -fx-border-color: transparent transparent transparent white;
}
.h-box_open .label{
    -fx-border-color: transparent transparent transparent white;
    -fx-cursor: hand;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-weight: 700;
}

.box_group{
    -fx-border-color: #1f2c36;
    -fx-border-width: 2px;
    -fx-background-color: rgba(86, 85, 85, 0.6);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
.label_header{
    -fx-font-size: 18px;
    -fx-font-weight: 800;
}
.label_header_background{
    -fx-background-color: #1f2c36;
    -fx-font-size: 18px;
    -fx-font-weight: 800;
    -fx-text-fill: white;
}
.toggle-button{
    -fx-background-color: transparent;
    -fx-text-fill:#1f2c36 ;
    -fx-border-color: #1f2c36;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.toggle-button:hover{
    -fx-background-color: #1f2c36;
    -fx-text-fill:white ;
    -fx-border-color: #1f2c36;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.toggle-button_close{
    -fx-background-color: #1f2c36;
    -fx-text-fill:white ;
    -fx-border-color: #1f2c36;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.text-field_histroy{
    -fx-prompt-text-fill:  white;
    -fx-background-color: transparent;
    -fx-border-color:transparent transparent white transparent;
    -fx-font-weight: 800;
    -fx-text-fill: white;
    -fx-border-radius: 0px;
}
.text-field_dange{
    -fx-prompt-text-fill:  white;
    -fx-background-color: transparent;
    -fx-border-color:transparent transparent #f64b4b transparent;
    -fx-font-weight: 800;
    -fx-text-fill: #f64b4b;
    -fx-border-radius: 0px;
}

.label_signature{
    -fx-font-size: 14px;
    -fx-text-fill: white;
}
.label_price{
    -fx-background-color: lime;
    -fx-font-weight: 800;
}
.text-field_search{
    -fx-prompt-text-fill:  #1f2c36;
    -fx-background-color: transparent;
    -fx-border-color:transparent transparent #1f2c36 transparent;
    -fx-font-weight: 800;
    -fx-text-fill: #1f2c36;
    -fx-border-radius: 0px;
}
.arlet_error{
    -fx-background-radius: 10px;
    -fx-padding: 0 0 0 10;
    -fx-text-fill: #a90000;
    -fx-font-weight: 800;
    -fx-background-color: #f38282;
}
.but_dange{
    -fx-background-color: #f64b4b;
    -fx-fill: white;
    -fx-font-weight: 800;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.but_sec{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #5ee75e;
    -fx-fill: white;
    -fx-font-weight: 800;
}
.block_statistick{
    -fx-background-color: #1f2c36;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px
}
.history_block{
    -fx-background-color:#1f2c36 ;
    -fx-border-color: white;
}

.chart-pie-label{
    -fx-fill: white;
    -fx-stroke: white;
    -fx-font-size: 10px;
}
.chart-pie-label-line{
    -fx-fill: white;
    -fx-stroke: white;
}

.chart-plot-background{
    -fx-background-color: transparent;
}
.axis{
    -fx-stroke: #fff;
    -fx-fill: #fff;
    -fx-font-size: 24;
    -fx-tick-label-fill: #fff;
}
.scroll-pane{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #505657;
    -fx-border-radius: 10px;
    -fx-background-insets: 2, 0, 0;
}
.combo-box .list-view .list-cell{
    -fx-text-fill: white;
    -fx-background-color:  #1f2c36;
}
.combo-box .list-view .list-cell:hover{
    -fx-text-fill: white;
    -fx-background-color: #0d1313;
}
.combo-box .cell{
    -fx-text-fill: white;
    -fx-background-color:  #1f2c36;
}
.combo-box .list-view {
    -fx-text-fill: white;
    -fx-background-color: #1f2c36;
}
.combo-box .arrow{
    -fx-background-color:  white;
}
.combo-box {
    -fx-border-color: transparent transparent white transparent ;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-font-weight: 800;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #red;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}

.spinner:focused{
    -fx-border-color: transparent;
}
.spinner .text-field:focused{
    -fx-background-color:  #1f2c36;
    -fx-border-color: transparent transparent white transparent ;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
.spinner .text-field{
    -fx-text-alignment: center;
    -fx-background-color:  #1f2c36;
    -fx-border-color: transparent transparent white transparent ;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #1f2c36;
    -fx-background-radius: 0;
}
.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: white;
}


